@charset "UTF-8";

:root {
    --color-gray: #f2f2f2;
    --bg-gradient: linear-gradient(
        45deg,
        rgba(32, 52, 69, 1) 0%,
        rgba(42, 67, 89, 1) 100%
    );
}

body {
    font-family: "Playfair Display", serif;
    font-size: 16px;
    margin: 0;
}

p {
    line-height: 1.5em;
}

a {
    color: var(--color-gray);
    text-decoration: none;
}

.container {
    max-width: 1200px;
    padding: 1rem;
    margin: 0 auto;
}

/* Header */
header {
    width: 100%;
    background-color: #2a4359;
    background: var(--bg-gradient);
    color: var(--color-gray);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 150px;
    height: 1.3em;
}

#search {
    display: flex;
    align-items: center;
    align-self: flex-end;
}

#search-input {
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-size: 1rem;
    padding: 0.2em 0.8em;
    margin: 0;
    border: 1px solid transparent;
}

#search-bt {
    width: 1.5em;
    height: 1.5em;
    margin: 0;
    padding: 0;
    margin-left: -1.5em;

    background-color: transparent;
    border: none;
}

img.dell {
    width: 100%;
    height: 450px;
    object-fit: cover;
}
