@charset "UTF-8";
@import url(index.css);
@import url(post.css);

:root {
    /* Color pallete: */
    --dark-blue: #1b2428;
    --mid-blue: #203445;
    --blue: #2a4359;
    --dark-gray: #303030;
    --gray: #6a7881;
    --light-gray: #b2bbbf;
    --dark-gold: #d8861a;
    --light-gold: #ffa943;
    --color-white: #f2f2f2;
    --bg-gradient: linear-gradient(45deg, var(--dark-blue), var(--blue) 70%);

    --shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.2);
    --caption-size: 0.8rem;
    --main-content-width: 80%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    line-height: 1.5em;
    margin: 0;
    color: var(--dark-gray);
    background: var(--bg-gradient);
}

.container {
    max-width: 1200px;
    padding: 1rem;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--blue);
    font-weight: bold;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 1.3rem;
}

h1 {
    font-size: 2.488rem;
}
h2 {
    font-size: 2.074rem;
}
h3 {
    font-size: 1.728rem;
}
h4 {
    font-size: 1.44rem;
}
h5 {
    font-size: 1.2rem;
}

.section-tlt {
    font-size: 1rem;
    margin: 0 0 1rem 0;
    font-style: italic;
    font-weight: 500;
    color: var(--light-gold);
}

a {
    color: var(--dark-gold);
    text-decoration: none;
    cursor: pointer;
}

p {
    font-family: 'Roboto Slab', serif;
    margin-top: 0;
}

p > a {
    font-style: italic;
    font-weight: 700;
}

p > a::before {
    font-style: italic;
    font-weight: 700;
}

blockquote {
    color: var(--gray);
    padding-left: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    border-left: 2px solid var(--blue);
}

a:hover {
    color: var(--dark-gold);
    text-decoration: underline;
}

ul {
    list-style-type: square;
    list-style-position: inside;
    padding: 0;
    margin-bottom: 1rem;
}

/* Form, input and buttons basic style */
input {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.2rem 0.8rem;
    margin: 0;
    border: 2px solid transparent;
    border-radius: 0;
    outline: none;
    z-index: 2;
    background-color: var(--color-white);
}

input:focus {
    border: 2px solid var(--light-gold);
}

button {
    display: inline-flex;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.2em 0.8em;
    margin: 0;
    border-radius: 0;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    background-color: var(--color-white);
    color: var(--dark-gray);
}

button:focus {
    border: 2px solid var(--light-gold);
}

button:hover {
    color: var(--light-gold);
}

button > span {
    margin: 0;
    padding: 0;
}

button.round-bt {
    margin: 0;
    padding: 0.5rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: var(--color-white);
}

button.round-bt:focus {
    outline: none;
    border: 1px solid var(--blue);
}

button.round-bt:hover {
    background-color: var(--blue);
    color: var(--color-white);
}

/* .dar_bg class invert font colors for dark background */
.dark-bg,
.dark-bg h1,
.dark-bg h2,
.dark-bg h3,
.dark-bg h4 {
    color: var(--color-white);
}

.dark-bg a {
    color: var(--light-gold);
}

.dark-bg button.round-bt {
    color: var(--color-white);
    background-color: transparent;
}

.dark-bg button.round-bt:focus {
    outline: none;
    border: 1px solid var(--light-gold);
}

.dark-bg button.round-bt:hover {
    border: 1px solid var(--light-gold);
    color: var(--blue);
    background-color: var(--light-gold);
}

.dark-bg .section-tlt {
    color: var(--light-gold);
}

/* Header */
header {
    position: relative;
    width: 100%;
    background-color: var(--blue);
    box-shadow: var(--shadow);
    z-index: 1;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 150px;
    height: 1.3em;
}

.logo:focus {
    outline: 1px solid var(--light-gold);
}

#search {
    display: flex;
    align-items: center;
    transition: all 0.5s ease-out;
}

#search:hover #search-input,
#search-bt:focus + #search-input,
#search #search-input:focus,
#search #search-input:active {
    display: block;
    position: absolute;
    right: calc(1.5rem + 1.6rem + 4px + 1rem);
}

#search-input {
    display: none;
    z-index: 2;
}

#search-bt {
    background-color: transparent;
    color: var(--color-white);
    z-index: 1;
}

#search:hover #search-bt,
#search-input:hover + #search-bt,
#search-input:focus + #search-bt,
#search-input:active + #search-bt {
    background-color: var(--color-white);
    color: var(--dark-gray);
}

#search:hover #search-bt:hover {
    color: var(--light-gold);
}

@media screen and (min-width: 640px) {
    #search:hover #search-input,
    #search:focus #search-input,
    #search:active #search-input,
    #search #search-input:focus,
    #search #search-input:active {
        position: relative;
        right: 0;
    }
    #search-input {
        display: block;
    }

    #search-bt {
        background-color: var(--color-white);
        color: var(--dark-gray);
    }
}

/* Main */

#content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.post-tags {
    align-self: flex-end;
    flex-basis: 0;
    display: flex;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid var(--light-gray);
    font-size: 0.83rem;
    font-weight: 500;
    line-height: 1em;
    padding: 0.2rem 0;
    align-items: center;
    justify-content: space-between;
    color: var(--gray);
}

.post-tags .like-count {
    display: flex;
    align-items: center;
}

.post-tags .like-count span {
    margin-left: 0.25rem;
}

/* Main > Main Content */
.main-content {
    width: 100%;
    padding: 2rem;
    background-color: var(--color-white);
    box-shadow: var(--shadow);
}

/* Main > Side Content */
.side-content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-top: 2rem;
}

.side-content div {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--dark-blue);
}

.side-content div:last-child {
    border-bottom: none;
}

#subscription {
    display: flex;
}

#subscription input {
    width: 100%;
}

@media screen and (min-width: 640px) {
    .side-content {
        grid-template-columns: repeat(2, 1fr);
    }

    .side-content div:last-child {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media screen and (min-width: 920px) {
    #content {
        flex-direction: row;
    }

    .main-content {
        width: var(--main-content-width);
    }

    .side-content {
        width: calc(100% - var(--main-content-width));
        position: relative;
        grid-template-columns: 1fr;
    }

    .side-content div {
        padding-left: 2rem;
    }

    .side-content div:last-child {
        grid-column-start: 1;
        grid-column-end: 2;
    }
}

/* Footer */
footer.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 1px solid var(--dark-blue);
    margin-top: 2rem;
}

.footer-logo {
    margin-top: 1rem;
    height: 0.8rem;
}

footer #social-media {
    display: flex;
}

footer #social-media a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.2rem;
    border: 1px solid transparent;
}

footer #social-media a:focus {
    border: 1px solid var(--light-gold);
    text-decoration: none;
    outline: none;
}

footer #social-media a:hover {
    text-decoration: none;
}

footer #social-media svg {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    fill: var(--color-white);
}

footer #social-media a:hover svg {
    fill: var(--light-gold);
}
